:root {
    --body-bg: #d6caca;
  /* Brand Colors */
  --primary-color: #1976d2;
  --accent-color: #ffd740;
  --text-main: #333333;
  --bg-card: #e4a9a9;
  

  /* Spacing */
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;

  /* Radii */
  --radius-main: 8px;
}